matplotlib>=3.1
NREL-rex>=0.2.84
NREL-phygnn>=0.0.23
NREL-gaps>=0.6.0
NREL-farms>=1.0.4
google-auth-oauthlib==0.5.3
pytest>=5.2
pillow>=10.0
tensorflow>2.4,<2.16
xarray>=2023.0
netCDF4==1.5.8
dask>=2022.0
sphinx>=7.0
pandas>=2.0
