matplotlib>=3.1
NREL-rex>=0.2.84
NREL-phygnn>=0.0.23
NREL-gaps>=0.5.0
NREL-rev<0.8.0
NREL-farms>=1.0.4
google-auth-oauthlib==0.5.3
pytest>=5.2
pillow
tensorflow>2.4
xarray
netCDF4==1.5.8
dask
sphinx
pandas
