matplotlib>=3.1
NREL-rex>=0.2.73
NREL-phygnn>=0.0.20
NREL-rev>=0.6.6
NREL-farms>=1.0.4
pytest>=5.2
pillow
tensorflow>2.4
xarray==0.20.0 # pin until next release
netcdf4>=1.5.8
dask
sphinx!=5.2.0.post0 # bug fix, remove on next release
